.container
  %h2 New Comment
  = form_with(model: @comment, url: board_task_comments_path(board_id: @task.board_id, task_id: @task.id), local: true) do |f|
    %div
      = f.label :content, 'Comment'
    %div 
      = f.text_field :content ,class: 'text'
    = f.submit 'Submit', class: 'submit-btn btn btn-danger'