.container
  %h2.all-boards ALL Boards
  %div.cards 
    - @boards.each do |board|
      = render 'commons/board', board: board  
  %div.new-board
    = link_to '+Add new board', new_board_path,  class: 'add-new-board'