@import 'form';

.container {
  padding: 16px 16px;
  width: 100%;
}

input {
  border: none;
  outline: none;

}

.bords-title {
  position: absolute;
  margin-left: 10px;
  padding-bottom: 5px;
  height: 25px;
  left: 30px;
  top: 15px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}