@import 'form';
@import 'board';
@import 'card';
@import 'comment';
@import 'common';

.container {
  padding: 16px 16px;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;

}

input {
  border: none;
  outline: none;

}

.board-title {
  position: absolute;
  margin-left: 10px;
  padding-bottom: 5px;
  height: 25px;
  left: 30px;
  top: 15px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: black;
}

.loginout {
  color: black;
  position: absolute;
  left: 300px;
  top:30px;
  text-decoration: none;
  font-size: 15px;
}