@import 'form';
@import 'board';
@import 'card';
@import 'comment';
@import 'common';



a {
  text-decoration: none;
  color: black;

}

.container {
  padding: 16px 16px;
  width: 100%;
}

input {
  border: none;
  outline: none;

}

.board-title {
  top: 50px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 25px;
  text-decoration: none;
  color: black;
}


.loginout {
  width: 100px;
  float: right;
}


.submit-btn {
  margin-top: 10px;
  width: 100%;
}




@import 'bootstrap';