

.all-boards {
  
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px/2);

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */


  color: #000000;

}
.board {
  width: 340px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  
}

.board_title {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  
}

.board_content {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  mix-blend-mode: normal;
}

.board_detail {
  
}
.board-text {
  text-decoration: none;
  color: black;
}

.new-board {
  width: 362px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F4F4F4;
  border-radius: 10px;
  

  .add-new-board {
    text-decoration: none;
    color: black;

  }

}