

.all-boards {
  
  height: 36px;
  left: 0%;
  right: 0%;
  top: calc(50% - 36px/2);

  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  /* identical to box height */


  color: #000000;

}
.board {
  width: 340px;
  background: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  

  .board_title {
    font-family: Avenir;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    float: left;
   
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
    float: right;
    top: 9px;
    margin-right: 20px;
  }

  

  .board_task_img{
    text-align: center;

    img {
      width: 95%;
      border-radius: 10px;
  
    }
  }


  .board_content {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
    margin: 10px 0;
    clear: both;
    
  }

  .board_detail{
    margin-bottom: 5px;

  }

}

.new-board {
  width: 362px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  

  .add-new-board {
    text-decoration: none;
    color: black;

  }

}