
.signup-title {
    height: 36px;
    left: 0%;
    right: 49.73%;
    top: calc(50% - 36px/2);

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;
}

input, select {
  &.text {
    width: 362px;
    height: 40px;
    left: 26px;
    top: 170px;
    margin-top: 15px;
    background: #F4F4F4;
    border-radius: 10px;
  }
}
.tag {
    position: absolute;
    width: 362px;
    height: 40px;
    left: 40px;
    bottom: 15px;
    color: white;
    background: #F8BD1C;
    border-radius: 4px;
}

.text {
 
  width: 362px;
  height: 40px;
  left: 26px;
  top: 190px;
  margin-bottom: 10px;
  background: #F4F4F4;
  border-radius: 10px;

}

.btn-primary {
  margin-top: 20px;
  width: 362px;
  height: 40px;
  left: 30px;
  top: 889px;
  color: white;
  background: #F8BD1C;
  border-radius: 4px;
  


}